<header class="header d-flex justify-content-between">
  <div class="logo-container align-self-center">
    <!-- <img src="../assets/JGLogo.png" class="img-fluid"/> -->
    <h2>Josh<span class="logo-underscore">_</span>Goodman</h2>
    <!-- <p>Creative Frontend Developer</p>
    <small>Nottingham, United Kingdom</small> -->
  </div>

  <div class="menu-container align-self-center d-flex">
        <!-- <div class="list">
          <a>Home</a>
        </div> -->
        <div class="list">
          <a>Me</a>
        </div>
        <div class="list">
          <a>My Work</a>
        </div>
        <div class="list">
          <a>Contact Me</a>
        </div>
  </div>

</header>


<router-outlet></router-outlet>
