<main class="main d-flex justify-content-center align-items-center">
  <section>
      <h1 class="fat">Creative_Ideas</h1>
      <div class="content-block">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porttitor aliquet turpis sagittis faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer in orci id ante tincidunt consequat.</p>
          <button class="btn btn-outline-light">View Portfolio</button>
      </div>
  </section>
  <app-screen-blocks></app-screen-blocks>
</main>

<!-- <img src="../assets/icecream.png" alt="icecream" /> -->